
body {
  font-family: 'Raleway', sans-serif;
  background-color: #eca400;
  border: 5px, black;
  opacity: 10%
}

.jumbotron {
  margin-bottom: 4em;
  background-color: #eaf8bf;
  border: 2px, grey;
}
